{% extends "layouts/default.html" %}

{% block page_title %}{{ error_code }} - {{ error_message }}{% endblock %}

{% block body_class %}layout-default page-error{% endblock %}

{% block page_heading %}
    <div class="page-heading">
        <h1>{{ error_code }} - {{ error_message }}</h1>
    </div>
{% endblock %}

{% block page_content %}
    <div class="error-container">
        <div class="error-icon">
            {% if error_code == 404 %}
                <svg width="120" height="120" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM11 15H13V17H11V15ZM11 7H13V13H11V7Z" fill="currentColor"/>
                </svg>
            {% elif error_code == 403 %}
                <svg width="120" height="120" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 8H17V6C17 3.24 14.76 1 12 1C9.24 1 7 3.24 7 6V8H6C4.9 8 4 8.9 4 10V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V10C20 8.9 19.1 8 18 8ZM12 17C10.9 17 10 16.1 10 15C10 13.9 10.9 13 12 13C13.1 13 14 13.9 14 15C14 16.1 13.1 17 12 17ZM15.1 8H8.9V6C8.9 4.29 10.29 2.9 12 2.9C13.71 2.9 15.1 4.29 15.1 6V8Z" fill="currentColor"/>
                </svg>
            {% elif error_code == 500 %}
                <svg width="120" height="120" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.5 11H19V7C19 5.9 18.1 5 17 5H13V3.5C13 2.12 11.88 1 10.5 1C9.12 1 8 2.12 8 3.5V5H4C2.9 5 2.01 5.9 2.01 7V9.8H3.5C4.99 9.8 6.2 11.01 6.2 12.5C6.2 13.99 4.99 15.2 3.5 15.2H2V17.9C2 19 2.9 19.9 4 19.9H7.8V18.4C7.8 16.91 9.01 15.7 10.5 15.7C11.99 15.7 13.2 16.91 13.2 18.4V19.9H17C18.1 19.9 19 19 19 17.9V14H20.5C21.88 14 23 12.88 23 11.5C23 10.12 21.88 9 20.5 9V11Z" fill="currentColor"/>
                </svg>
            {% else %}
                <svg width="120" height="120" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V15H13V17ZM13 13H11V7H13V13Z" fill="currentColor"/>
                </svg>
            {% endif %}
        </div>
        
        <div class="error-details">
            <p class="error-description">{{ error_description|default('Oops! Something went wrong.') }}</p>
            
            {% if error_code == 404 %}
                <p>We couldn't find the page you were looking for. It might have been removed, renamed, or didn't exist in the first place.</p>
            {% elif error_code == 403 %}
                <p>You don't have permission to access this resource. Please make sure you're logged in with the right account.</p>
            {% elif error_code == 500 %}
                <p>Our server encountered an error and couldn't complete your request. Our team has been notified and we're working to fix it.</p>
            {% elif error_code == 401 %}
                <p>You need to be authenticated to access this resource. Please log in and try again.</p>
            {% endif %}
        </div>
        
        <div class="error-actions">
            <a href="/" class="btn btn-primary">Go to Home Page</a>
            <a href="/my-chats" class="btn btn-outline">My Chats</a>
            
            {% if error_code == 401 %}
                <a href="/login" class="btn btn-primary">Log In</a>
            {% endif %}
            
            <button onclick="window.history.back()" class="btn btn-outline">Go Back</button>
        </div>
    </div>
{% endblock %}

{% block page_js %}
    <script>
        // Error page specific JavaScript
        document.addEventListener('DOMContentLoaded', function() {
            console.log('Error page loaded: {{ error_code }} - {{ error_message }}');
        });
    </script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/error.css') }}">
{% endblock %} 